body {
    padding: 5px 5px 5px 5px;
    font-family: 'roboto', 'hind', 'century gothic';
    font-weight: 100;
    font-size: small;
    background-color: rgb(241, 241, 241);
}

header {
    background-image: url(images/sarah.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    background-position: 50% 50%;
}

h1 {
    color: #666668;
    font-size: 30px;
    font-weight: bold;
    font-family: 'caveat', 'century gothic';
    text-align: left;
    margin-top: 20px;
    padding-bottom: 10%;
    padding-top: 8%;
    padding-left: 8%;
}

h2 {
    color: #ffffff;
    background-color: rgb(154 117 70);
    font-family: 'caveat', 'century gothic';
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.linksocmed {
    background-color: rgb(154 117 70);
    color: #ffffff;
    text-align: center;
    padding: 8px;
    border-radius: 7px;
    margin: auto;
}

div {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    text-align: center;
}

p {
    max-width: 100%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

.navbutton {
    max-width: 50%;
    background-color: rgb(154 117 70);
    color: #ffffff;
    padding: 0.5rem 3rem;
    border-radius: 7px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
}

#contact a {
    color: rgb(154 117 70);
}

a:active {
    background-color: darkgrey;
    color: #ffffff;
}

#contact {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    max-width: 100%;
    padding-left: 25px;
}

#contact img {
    width: 12px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
}

ul {
    list-style-type: none;
}

.skillsnlang {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

ul.skillsnlang {
    padding-left: 0;
}

ul.skillsnlang li {
    background: #e7c8a196;
    color: #797982;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    text-align: center;
    margin-top: 3px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
}

.card {
    /* Card */
    /* Auto Layout */
    display: flex;
    width: 150px;
    height: 250px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    position: static;
    background: #FFFFFF;
    /* Boxshadow_01 */
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    /* Inside Auto Layout */
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    width: 160px;
    height: 260px;
    border: #666668 solid;
}

.card:active {
    width: 160px;
    height: 260px;
    border: #666668 solid;
}

.pic {
    height: 50px;
    width: auto;
    background: #ffffff;
    border-radius: 8px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #202020;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
}

.username {
    font-size: 10px;
    color: slategrey;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

ul.experience {
    padding-left: 0;
    margin-top: 40px;
}

ul.experience li {
    color: rgb(154 117 70);
    background: rgb(249 249 249);
    border-radius: 7px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 5px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
}

.edu {
    padding-left: 0;
    margin-top: 40px;
}

ul.edu li {
    color: rgb(154 117 70);
    background: rgb(249 249 249);
    border-radius: 7px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 5px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
}

.hobbies {
    padding-left: 0;
    color: rgb(134 108 74);
    ;
    margin-top: 40px;
}

ul.hobbies li {
    color: rgb(154 117 70);
    background: rgb(249 249 249);
    border-radius: 7px;
    padding: 7px 12px;
    text-align: center;
    margin-top: 5px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
}

.biography {
    margin-top: 60px;
}

#myBtn {
    width: 2px;
    height: 2px;
    position: fixed;
    /* Fixed/sticky position */
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 100;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 50px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:active {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

#myBtn img {
    height: 30px;
    width: 30px;
    position: fixed;
    /* Fixed/sticky position */
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
}

#socmedsection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    #socmedsection {
        display: flex;
        flex-direction: column;
    }
}